h1 {
    font-size: 300%;
}

body {
    background-color: #808080;
    font-family: 'Courier New';
}


/*Centrerar text bl.a*/
.center {
    margin: auto;
    border-bottom: 3px solid black;
    padding: 1%;
    text-align: center;
}

/*Ändrar utseendet på den globala menyn*/
#mittenmeny {
    margin-left: auto;
    margin-right: 100px;
}

/*Påbörjan för 3 spaltlayouten*/
.column {
    float: left;
    width: 30%;
    margin: auto;
    text-align: center;
    height: 7%;
    font-size: 300%;
    border-right: solid black 3px;
    border-left: solid black 3px;
}
/*Centreringsblock för globala menyn*/
.osynlig {
    float: left;
    width: 19%;
    margin: auto;
    height: 7%;
    
    column-gap: 40px;
    color: grey
}

.column a {
    color: black;
}

.column:hover {
    background-color: white;
}

/*skapar den vänstra columnen*/
.left {
    width: 75%;
    height: 75vh;
    background-color: grey;
    float: left;
    margin-top: 2%;
}

    .left p {
        
        font-size: 150%;
        text-justify:auto;
    }
/*skapar den högra columnen*/
.right {
    width: 25%;
    height: 75vh;
    background-color: lightgray;
    float: right;
    margin-top: 2%;
}
/*ställer in hur loginrutan skall se ut*/
form {
    background-color: lightgray;
    height: 98%;
    font-size: 200%;
    width: 90%;
    margin-left: 5%;
    
}

input {
    font-size: 60%;
    font-family: 'Courier New';
    width: 50%;
}

.login {
    width: 100%;
    margin-top: 10%
}

#gradient {
    background-image: linear-gradient(to right, red, yellow);
}

.right nav {
    font-size: 200%;
    list-style: none;
}

nav ul {
    list-style: none;
    width: 100%;
}

.currentsite {
    background-color: darkgray;
    width: 50%;
    height : 5vh;
    
}

article {
    text-align: justify;
}

a{
    text-decoration: none;
}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#animation {
    text-align:center;
    margin: auto;
    border-bottom: 3px solid black;
    padding: 1%;

    width: 14%;
    height: 100%;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: red;
        left: 1px;
        
    }

    25% {
        background-color: orange;
        left: 500px;
        
    }

    50% {
        background-color: orangered;
        left: 1px;
        
    }

    75% {
        background-color: orange;
        left: -500px;
        
    }

    100% {
        background-color: red;
        left: 1px;
   
    }
}

#matlista{
    margin-left : 50px;
    font-size : 200%;
    color:white;
    list-style :decimal;
}
h2 {
    font-size: 200%;
    color: white;
    border-bottom: solid 1px white;
}
table, td, tr, thead{
    border: 1px solid white;
    border-collapse : collapse;
    color: white;
    font-size:130%;
}
iframe{

    
    width:100%;
    height:100%;
    
  
}