h1 {
    font-size: 300%;
}

body {
    background-color: grey;
    font-family: 'Courier New';
}

.center {
    margin: auto;
    border-bottom: 3px solid black;
    padding: 1%;
    text-align: center;
}

#mittenmeny {
    margin-left: auto;
    margin-right: 100px;
}


.column {
    float: left;
    width: 30%;
    margin: auto;
    text-align: center;
    height: 7%;
    font-size: 300%;
    border-right: solid black 3px;
    border-left: solid black 3px;
}

.osynlig {
    float: left;
    width: 19%;
    margin: auto;
    height: 7%;
    
    column-gap: 40px;
    color: grey
}

.column a {
    color: black;
}

.column:hover {
    background-color: white;
}


.left {
    width: 75%;
    height: 75%;
    background-color: blue;
    float: left;
    margin-top: 2%;
}

    .left p {
        
        font-size: 200%;
        text-justify:auto;
    }

.right {
    width: 25%;
    height: 75%;
    background-color: red;
    float: right;
    margin-top: 2%;
}

form {
    background-color: lightgray;
    height: 98%;
    font-size: 200%;
    width: 90%;
    margin-left: 5%;
    border: solid 2px black;
}

input {
    font-size: 60%;
    font-family: 'Courier New';
    width: 50%;
}

.login {
    width: 100%;
    margin-top: 10%
}

#gradient {
    background-image: linear-gradient(to right, red, yellow);
}

.right nav {
    font-size: 200%;
    list-style: none;
}

ul {
    list-style: none;
    width: 100%;
}

.currentsite {
    background-color: blue;
    width: 100%
}

article {
    text-align: justify;
}
